@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/images/Screenshot_248.png"/> <br />
    <br /><br /><br />
    
    <img src="/images/AtikerJR.jpeg" class="center" height="180" width="320"/>
   @* <h1 class="display-4">AtikJr Programına Hoşgeldiniz</h1>

    <h2 class="display-4"> Merhaba Gençler</h2>*@
    <ul class="menu cf">
        <li>
          <a href="">MENU ITEM</a>
          <ul class="submenu">
            <li><a href="/Arac/Index"> Araçlar</a></li>
            <li><a href="/Stok/Index">Stok</a></li>
            <li><a href="">Stok Deneme</a></li>
            <li><a href="">Besi</a></li>
            <li><a href="">Proje</a></li>
          </ul>			
        </li>
        <li>
          <a href="">MENU ITEM</a>
          <ul class="submenu">
            <li><a href="">Cari Kartlar</a></li>
            <li><a href="">İşletme Muhasebe</a></li>
            <li><a href="">Banka Hareket</a></li>
            
          </ul>			
        </li>
        <li><a href="">Contact</a></li>
      
       
      </ul>
    

  @*  <a href="/Arac/Index" m >Araçlar</a>*@

  
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>

<br /><br /><br /><br /><br />

@*<p class=" textbox">
    Test deneme123
</p>*@
 <marquee direction=right> <img src="/images/Ekran Alıntısı.png" class="resim" height="150" width="150"/>
     &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
     <img src="/images/Atiker2.png" class="resim" height="150" width="150"/>
     &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
     <img src="/images/Atiker 3.jpg" class="resim" height="150" width="150"/>

</marquee>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
</head>


<style>

    .resim
    {
        margin-top:250px;

    }

.cf:before,
.cf:after {
  content: " ";
  display: table;
}
 
.cf:after {
  clear: both;
}
 
.cf {
  *zoom: 1;
}
 
.menu,
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}
 

.menu {			
  margin: 50px auto;
  width: 800px;
 
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;	
}
 
.menu > li {
  background: #34495e;
  float: left;
  position: relative;
  transform: skewX(25deg);
}
 
.menu a {
  display: block;
  color: #fff;
 /* text-transform: uppercase; büyük harf yazımı*/
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 14px;
}		
 
.menu li:hover {
  background: #e74c3c;
}		
 
.menu > li > a {
  transform: skewX(-25deg);
  padding: 1em 2em;
}
 
/* Dropdown */
.submenu {
  position: absolute;
  width: 200px;
  left: 50%; margin-left: -100px;
  transform: skewX(-25deg);
  transform-origin: left top;
}
 
.submenu li {
  background-color: #34495e;
  position: relative;
  overflow: hidden;		
}						
 
.submenu > li > a {
  padding: 1em 2em;			
}
 
.submenu > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;			
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
}		
 
/* Odd stuff */
.submenu > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}
 /* Yazı tipi */
.submenu > li:nth-child(odd) > a {
  transform: skewX(25deg);
}
 
.submenu > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}				
 
/* Even stuff */
.submenu > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}
 
.submenu > li:nth-child(even) > a {
  transform: skewX(-25deg);
}
 
.submenu > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}
 
/* Show dropdown */
.submenu,
.submenu li {
  opacity: 0;
  visibility: hidden;			
}
 
.submenu li {
  transition: .2s ease transform;
}
 
.menu > li:hover .submenu,
.menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
}		
 
.menu > li:hover .submenu li:nth-child(even){
  transform: skewX(25deg) translateX(15px);			
}
 
.menu > li:hover .submenu li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);			
}
 
</style>
