html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
@media only screen and (max-width: 1024px) and (max-height: 768px) {

    .tablo1, .tablo1veri, .tablo1veri2 {
      
        position: absolute;
        right: 110px;
        bottom: -550px;
        
    }
    .tablo2, .tablo1veri11, .tablo1veri22 {
    
       
        position: absolute;
        right: 120px;
        bottom: -200px;
        
    }
}
@media only screen and (max-width: 412px) and (max-height: 915px) {

    .tablo1, .tablo1veri, .tablo1veri2 {
        position: absolute;
        right: 250px;
        bottom: -550px;
        
    }

    .tablo2, .tablo1veri11, .tablo1veri22 {
        position: absolute;
        right: 150px;
        bottom: -200px;
        
    }
}



html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


body {
    margin-top: 9px;
}

#menu li {
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
    display: block;
    text-align: center;
    transition: 1s;
    font-family: calibri,arial,verdana;
    font-size: 20px;
    line-height: 50px;
    background-color: #005555;
    width: 180px;
    margin-right: 1px;
    float: left;
    padding: 20px;
    position: relative;
    top: -180px;
    right: -150px;
}

#menu span {
    display: block;
    margin-top: -60px;
}

#menu a:hover {
    background-color: #5FD367;
    color: #005555;
}

.right {
    float: right;
    width: 300px;
    background-color: #b0e0e6;
}


/*********************************************************************************************/

.tablo2 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 75%;
    border: 1px solid #ddd;
    margin-left: 580px;
    margin-top: 20px;
    border: 1px solid black;
}


.tablo1veri11 {
    width: 75%;
    height: 20px;
}


.tablo1veri22 {
    height: 200px;
    display: block;
    width: 42%;
    overflow: auto;
}



tr:nth-child(even) {
    background-color: #f2f2f2
}


.tablo1 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 75%;
    border: 1px solid #ddd;
    margin-left: 580px;
    margin-top: -565px;
}



.tablo1veri {
    width: 75%;
    height: 20px;
}



.tablo1veri2 {
    height: 500px;
    display: block;
    width: 45%;
    overflow: auto;
}



th, td {
    text-align: left;
    padding: 8px;
}



tr:nth-child(even) {
    background-color: #f2f2f2
}


/*Text box'lar arasý boþluk*/
.bosluk {
    margin: 25px;
}

/*Text Box'larýn konumu*/
.metin {
    margin-left: 100px;
    margin-top: 120px;
}

/*Butonun konumu*/
.buton {
    display: block;
    margin-left: 260px;
    margin-top: -50px;
}


