@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<div class="text-center">
    <h1 class="display-4">Stok</h1>

    @*  <label>Stok No</label> <input type="text" align= />*@
</div>
<form>

    @*Text Box ayarları*@
    <table class="metin" border="1">

        <tr>
            <td>&nbsp &nbsp &nbsp Stok Adı :</td>
            <td><input type="text" class="bosluk" name="no" id="no" required placeholder="Lütfen Stok No Giriniz"></td>
        </tr>

        <tr>
            <td>&nbsp &nbsp &nbsp Kart Açıklaması :</td>

            <td><input type="text" class="bosluk" name="ad" id="ad" required placeholder="Lütfen Stok Adını Giriniz"></td>
        </tr>

        <tr>
            <td>&nbsp &nbsp &nbsp Stok Açıklama 1 :</td>
            <td><input type="text" class="bosluk" name="no" id="no" required placeholder="Lütfen Stok No Giriniz"></td>
        </tr>

        <tr>
            <td>&nbsp &nbsp &nbsp Stok Açıklama 2 :</td>
            <td><input type="text" class="bosluk" name="no" id="no" required placeholder="Lütfen Stok No Giriniz"></td>
        </tr>

        <tr>
            <td>&nbsp &nbsp &nbsp Stok Açıklama 3 :</td>
            <td><input type="text" class="bosluk" name="no" id="no" required placeholder="Lütfen Stok No Giriniz"></td>
        </tr>

    </table>

    @*Tablo oluşturma*@
    <table class="tablo">
        <tr>
            <td class="tablo" style="width: 150px;"height="79">Hayri</td>
            <td class="tablo" style="width: 150px;"height="79">KOÇMARLAR</td>
            <td class="tablo" style="width: 150px;"height="79">KOÇMARLAR</td>
            <td class="tablo" style="width: 150px;"height="79">KOÇMARLAR</td>
            <td class="tablo" style="width: 150px;"height="79">KOÇMARLAR</td>
        </tr>
        <tr>
            <td class="tablo"height="83">Ahmet</td>
            <td class="tablo"height="83">Cansever</td>
            <td class="tablo"height="83">Cansever</td>
            <td class="tablo"height="83">Cansever</td>
            <td class="tablo"height="83">Cansever</td>
        </tr>
        <tr>
            <td class="tablo"height="83">Mehmet</td>
            <td class="tablo"height="83">Salim</td>
            <td class="tablo"height="83">Cansever</td>
            <td class="tablo"height="83">Cansever</td>
            <td class="tablo"height="83">Cansever</td>
        </tr>
        <tr>
            <td class="tablo"height="83">Mehmet</td>
            <td class="tablo"height="83">Salim</td>
            <td class="tablo"height="83">Cansever</td>
            <td class="tablo"height="83">Cansever</td>
            <td class="tablo"height="83">Cansever</td>
        </tr>
        <tr>
            <td class="tablo"height="83">Mehmet</td>
            <td class="tablo"height="83">Salim</td>
            <td class="tablo"height="83">Cansever</td>
            <td class="tablo"height="83">Cansever</td>
            <td class="tablo"height="83">Cansever</td>
        </tr>
    </table>  

    
    @*Kaydet Butonunu alta kaydırmak için*@
    <br />    <br />    <br />    <br /> 
    

    <button class="btn btn-primary theme-btn btn-style-one buton" type="submit" ><span>Kaydet</span></button>
   @* <a href="#">SİL<span class="bi bi-trash" title="Sil"></span></a>
    <a href="#" title="Güncelle">GÜNCELLE<span class=""></span></a>*@


</form>
<style>

    /*Text box'lar arası boşluk*/
     .bosluk {
        margin: 25px;
    }

     /*Text Box'ların konumu*/
    .metin {
        margin-left: 100px;
        margin-top: 120px;
    }

    /*Tablo ayarı*/
        .tablo{
            border:1px solid #282830;
            margin-left: 600px;
            margin-top: -413px;
        }

    /*Butonun konumu*/
     .buton {
    display: block;
    margin-left:260px;
    margin-top: 250px;
}


</style>

<style>
    /*
            input {
                margin-right:100px;
             margin: 10px auto;
             margin-left:-500px;
            }*/

</style>
